# Rename: terraform.tfvars.example → terraform.tfvars

# AWSのアクセスキー
aws_access_key = "AKIA_____________________"
aws_secret_key = "_______________________________"

# 各種リソースの名前のprefix
prefix = "Slack_EC2_notification"

# リージョンを東京に設定
region = "ap-northeast-1"

# スケジュール設定
# 参考: http://docs.aws.amazon.com/ja_jp/lambda/latest/dg/tutorial-scheduled-events-schedule-expressions.html
schedule_description = "every_1_hour"
schedule_expression = "rate(1 hour)"


# リージョンを東京に設定
target_region = "ap-northeast-1"

# Slack WebhookのURL
# slack_webhook_url = "https://hooks.slack.com/services/*********/*********/************************"

# Slack 投稿先チャンネル
# format: "#channel-name"
# デフォルト（空文字）はWebhookのデフォルト値
channel = ""

# Slack 通知のユーザー表示
# デフォルト（空文字）はWebhookのデフォルト値
username = ""

# Slack 通知のアイコン
# format: ":icon_name:"
# デフォルト（空文字）はWebhookのデフォルト値
icon_emoji = ""

# 各インスタンスの状態を通知するテキストのフォーマット
# 変数の使用方法
#   %{var_name}
# 使用可能変数
#   state: インスタンスの状態（例: "running", "stopped"）
#   type: インスタンスタイプ（例: "t2.nano"）
#   name: インスタンス名（タグのNameキーの値）
#   id: instance ID（例: "i-xxxxxxxxxxxxxxxxx"）
ec2_instance_state_text_format = "[%{state}] %{type}, %{name}: %{id}"
